services:
  db:
    image: mariadb:11.4
    container_name: todo-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: todo
      MYSQL_USER: todo
      MYSQL_PASSWORD: todo
    ports:
      - "3306:3306"
    volumes:
      - ./schema.sql:/docker-entrypoint-initdb.d/schema.sql

  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: todo-api
    depends_on:
      - db
    ports:
      - "8080:8080"
