name: Build and Push Docker Image

on:
  push:
    branches: ["main"]
  workflow_dispatch:

env:
  IMAGE_NAME: todo-app-jdbc-spring-api
  GHCR_USER: sacireda   # <-- ton username en minuscule !

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ env.GHCR_USER }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ghcr.io/${{ env.GHCR_USER }}/${{ env.IMAGE_NAME }}:latest
