name: Build and Push Docker Image

on:
  push:
    branches: ["main"]
  workflow_dispatch:

env:
  IMAGE_NAME: todo-app-jdbc-spring-api

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build application with Maven
        run: mvn -B -f api/pom.xml clean package

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Debug GHCR username
        run: echo USERNAME=${{ secrets.GHCR_USERNAME }}

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCR_USERNAME }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ./api
          file: ./api/Dockerfile
          push: true
          tags: ghcr.io/${{ secrets.GHCR_USERNAME }}/${{ env.IMAGE_NAME }}:latest
